body {
    margin: 0;
    background-color: #333;
}

details {
    margin: 20px;
    background-color: #999c;
    border: 3px solid #222;
    border-radius: 5px;
}

summary {
    background-color: transparent;
    padding: 10px;
}