body {
    background: lightblue;
}

.card {
    border: 5px solid blue;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    width: 80%;
    background: lightskyblue;
}

.card-h1 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.card-h2 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.card-p {
    color: white;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.input-card {
    border: 5px solid blue;
    border-radius: 20px;
    width: 85%;
    margin: 20px auto;
    background: lightskyblue;
}

.label {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
}

.input {
    margin: 10px auto;
    padding: 6px 9px;
    border: none;
    border-radius: 3px;
    border-top: 1px solid black;
    background: whitesmoke;
    color: lightskyblue;
}