html {
    font-size: 24px;
}

div {
    background: #ededed;
    padding: 7px 10px;
    font-family: sans-serif;
    border-left: 5px solid #999;
    font-size: 20px;
    width: 80vw;
    height: 80vh;
    margin: 0;
    box-sizing: border-box;
    margin: auto;
    margin-top: 10vh;
}

h1 {
    margin: 0;
    font-size: 1rem;
}

span {
    color: #999;
    font-size: 0.6rem;
    font-weight: 100;
}

p {
    color: #555;
    text-align: justify;
    margin: 5px 10px;
    font-size: 0.8rem;
    font-weight: 100;
}