body {
    margin: 0;
    background-color: #333;
}

.checkbox_input {
    padding: 20px;
    margin: 70px auto;
    width: 50vw;
    background-color: transparent;
    box-sizing: border-box;
    box-shadow: 0 0 5px #ededed;
    border-radius: 8px;
}

label {
    color: #ededed;
    font-family: sans-serif;
}

a {
    color: #69f;
    text-decoration: none;
}