body {
    margin: 0;
    background-color: #222;
}

form {
    background-color: transparent;
    padding: 20px 0;
    margin: auto;
    margin-top: 50px;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0 0 55px #fff2;
    color: #ededed;
}

.form_input {
    padding: 6px 20px;
}

input, textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0 0 15px #0003;
    background-color: transparent;
    color: #ededed;
    margin-top: 4px;
}

h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ededed;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 22px;
    letter-spacing: 2px;
    padding: 5px;
}

textarea {
    min-width: 100%;
    resize: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 102px;
}

label {
    font-size: 0.9em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.checkbox {
    
}