body {
    background-color: #08f;

    margin: 0
}

h1 {
    color: #ffe;
    margin: 0;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    font-weight: 800;
}

.box {
    width: 300px;
    height: 400px;
    background: radial-gradient(transparent, #000a);
    text-transform: uppercase;
    margin: auto;
    border-radius: 5px;
    margin-top: 20px;
    border-top: 6px solid #07f;
}
