p {
    color: red;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 400;
    font-style: italic;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: none;
    text-transform: capitalize;
}

h1 {
    text-align: center;
    letter-spacing: 2.5px;
    font-family: Montserrat;
    font-weight: 800;
}
