.card {
    background: lightcyan;
    padding: 1px 10px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

body {
    background: lightblue;
    font-family: Montserrat;
}

h1 {
    font-family: Montserrat;
    font-weight: 800;
    text-align: center;
}

h2 {
    font-family: Montserrat;
    font-weight: 500;
    text-align: center;
}

p {
    font-family: Montserrat;
    text-align: justify;
    font-weight: 400;
    padding: 5px 20px;
    background: white;
    border-radius: 5px;
}