
body {
    background-color: #0f0;
    background-image: url("fallout.jpg");
    padding: 0;
    margin: 0;
    border-top: 5px solid #000;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
}

.box {
    width: 400px;
    height: 320px;
    margin: 20px;
    background-color: #0000;
}

p {
    font-family: sans-serif;
    padding: 12px;
    color: #eee;
    text-shadow: 0 2px 6px rgba(0,0,0,0.8);
    text-align: justify;
}

.title {
    background-color: #ddd;
    width: 8rem;
    margin: auto;
    text-align: center;
    padding-top: 1px;
    border-bottom: 5px solid #000;
    border-right: 5px solid #000;
    border-left: 5px solid #000;
    border-radius: 0 0 25px 25px;

}

.box {
    box-sizing: border-box;
    width: 90vw;
    margin: auto;
    background-image: url("NukaCola.jpeg");
    background-size: cover;
    background-position-x: -50px;
    background-attachment: fixed;
}

.shadow {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #0007;
    padding: 120px;
    text-align: center;
    color: #ffd;
}