td, th {
    border: none;
    border-bottom: 1px solid #0003;
    font-family: sans-serif;
    padding-bottom: 10px;
}

tbody {
    color: #444;
    text-align: center;
}

.total {
    text-align: center;
    font-weight: 700;
}

table {
    width: 100%;
    border-spacing: 10px;
    max-width: 500px;
    margin: auto;
    border: 1px solid transparent;
    box-shadow: 0 0 25px #0002;
    border-radius: 8px;
    margin-top: 100px;
    padding: 15px;
}